.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
}

.img {
  border-radius: 50%;
  margin-top: 100px;
  width: 300px;
}

.projectPictures {
  padding: 10px
}

.text {
  color: #BF2811;
  font-family: 'Dosis', sans-serif;
}

.whitetext {
  color: #7F1A0B;
}

.nav {
  background-color: #BF2811;
  display: inline-block;
  padding-bottom: 2px;
  padding-top: 2px;
  text-align: center;
  width: 100%;
}

.socialIcons {
  margin: 0 auto;
  margin-bottom: 60px;
  margin-top: 60px;
  width: 100%;
}

.tylersface {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-name: tylerface;
  -webkit-animation-name: tylerface;
}

.nav-item {
  display: inline;
  font-size: 20px;

}

.nav-link {
  color: #000000;
  margin-left: 8%;
  margin-right: 8%;
  padding: 1% 2% 1% 2%;
  text-decoration: none;
}

.nav-link:hover {
  color: grey;
}

.webpage {
  background-color: #F6F6F6;
}

.a {
  color: #BF2811;
  font-size: 25px;
  margin-left: 2%;
  margin-right: 2%;
  text-decoration: none;
  -webkit-transition: all 0.5s;
}

.a:hover {
  color: #D64200;
  font-size: 100px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
}
